<!DOCTYPE html>
<html>
	<head>
		<title>Fake Job Posting Predictor</title>
		<link rel="stylesheet" href="../static/styles.css" >
	</head>
	<body>
		<h2>How does this model work? </h2>

		<p> This is a support-vector machine that predicts if a job posting is fake with a 94% accuracy. The frontend was built using HTML/CSS/Bootstrap. </p>
		
		<p> The link to the dataset can be found <a href="https://www.kaggle.com/shivamb/real-or-fake-fake-jobposting-prediction"> here</a>. </p> <br>
		
		<form action="/" method="get">
			<input type="submit" value="Back to Homepage" style="float: right;">
		</form>

		<br>

	</body>
</html>